body{
	margin:0;
}

#all{
	width:100%;
	height:637px;
}

#search{
	width:98%;
	height:5%;
	padding-top:0.8%;
	padding-left:2%;
	background-color: #FFFBD1;
}

#bmTree{
	width:15%;
	height:93%;
	float:left;
	background-color: #AFD788;
}

#userInfo{
	width:85%;
	height:93%;
	float:left;
	background-color: #FACE9C;
}

#bmTree ul{
	list-style:none;
	line-height:16px;
}
#bmTree #bm{
	text-decoration: none;
}
#user{
	width:100%;
}
#user th{
	width:16.6%;
	background-color: #DCF8A8;
}
